.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: var(--off-white);
}

.button-area {
    display: flex;
    min-width: 40%;
    max-width: 80%;

    justify-content: space-around;
    margin-top: 2rem;
    flex-wrap: wrap;

}

.button-area button {
    background-color: var(--primary-color);
    color: var(--off-white);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-area button:hover {
    background-color: var(--tertiary-color);
}

.button-area button.active {
    background-color: var(--quartenary-color);
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem 0;

    width: 65%;
    margin: 0 auto 2rem auto;
}

.pokemon-card {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    border: solid 2px var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-transform: capitalize;

    transform: scale(0.9);
}

.pokemon-id {
    background-color: var(--tertiary-color);
    color: var(--off-white);
    font-size: 1rem;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    position: relative;
    top: 5px;
    left: -70px
}

.pokemon-card:hover {
    transform: scale(1);
    border: 2px solid var(--tertiary-color);
    cursor: pointer;
}

.pokemon-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;

}


.pokemon-type {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--off-white);
    color: var(--primary-color);
    border: solid 1px;
    border-radius: 10px;
    padding: 5px;
}

/*modal pokemon description*/

.pokemon-descripiton-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
}

.pokemon-description {
    text-transform: capitalize;
    position: fixed;
    /* Posicionamento relativo ao contêiner pai */
    top: 50%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta para alinhar ao centro */
    background-color: var(--primary-color);
    width: 400px;
    height: 600px;
    border-radius: 10px;
    padding: 1rem;
    z-index: 1000;
}

.pokemon-description h2 {
    text-align: center;
    color: var(--off-white);
    z-index: 10;
    position: relative;
}

.modal-button {
    background-color: var(--tertiary-color);
    color: var(--off-white);
    padding: 10px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.modal-sprit {
    width: 200px;
    object-fit: fill;
}

.pokemon-abilities {
    margin: auto;
    justify-content: space-around;
    color: var(--off-white);
    font-weight: bold;
}

.pokemon-abilities span {
    margin: 0 0.2rem;
    color: var(--tertiary-color);
}

.status-area {
    padding: 0.5rem;
}

.status-area h2 {
    text-align: start;
    color: var(--tertiary-color);
    font-size: 1.2rem;
}

.pokemon-status {
    text-align: start;
    color: var(--off-white);

    border-collapse: separate;
    border-spacing: 0 5px;
}


.status-name {
    text-align: end;
    padding: 0 .5rem;
}

.status-value {
    text-align: start;
    padding: 0 .5rem;
}

.cell-barchart {
    width: 100%;
    height: 20px;
    background-color: var(--off-white);
    border-radius: 10px;
    color: black;
    font-weight: bold;
    padding-left: 5px;
}

.barchart-midle {
    background-color: var(--tertiary-color);
    height: 50%;
    color: var(--off-white);
    border-radius: 10px;
}


/*Animações*/

@keyframes borderInsetOutset {
    0% {
        border: 3px inset var(--tertiary-color);
    }

    50% {
        border: 3px outset var(--tertiary-color);
    }

    100% {
        border: 3px inset var(--tertiary-color);
    }
}


/* estilização por tipo pricipal do pokemon*/

.bug {
    background-color: #a8b820;
    border-color: #a8b820;

}

.dark {
    background-color: #705848;
    border-color: #705848;
}

.dragon {
    background-color: #7038f8;
    border-color: #7038f8;
}

.electric {
    background-color: #f8d030;
    border-color: #f8d030;
}

.fairy {
    background-color: #ee99ac;
    border-color: #ee99ac;
}

.fighting {
    background-color: #c03028;
    border-color: #c03028;
}

.fire {
    background-color: #f08030;
    border-color: #f08030;
}

.flying {
    background-color: #a890f0;
    border-color: #a890f0;
}

.ghost {
    background-color: #705898;
    border-color: #705898;
}

.grass {
    background-color: #78c850;
    border-color: #78c850;
}

.ground {
    background-color: #e0c068;
    border-color: #e0c068;
}

.ice {
    background-color: #98d8d8;
    border-color: #98d8d8;
}

.normal {
    background-color: #a8a878;
    border-color: #a8a878;
}


.poison {
    background-color: #a040a0;
    border-color: #a040a0;
}

.psychic {
    background-color: #f85888;
    border-color: #f85888;
}

.rock {
    background-color: #b8a048;
    border-color: #b8a048;
}

.steel {
    background-color: #b8b8d0;
    border-color: #b8b8d0;
}

.water {
    background-color: #6890f0;
    border-color: #6890f0;
}