footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;


    background-color: var(--primary-color);
    color: var(--off-white);
}

.about {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.about p {
    color: var(--off-white);
    font-size: 0.9rem;
    align-items: center;
    width: 40%;
    display: flex;
}

.about a {
    padding-left: 1rem;
    color: var(--off-white);
    font-size: 0.6rem;
    display: flex;
}